<!-- Contact -->
<!-- ======= -->
<div class="container-fluid contact d-none d-lg-block">
  <div class="row">

    <div class="col-8">
        <i class="fas fa-map-marker"></i>
        <span>Sobremonte 1153, Río Cuarto, Córdoba</span>

        <i class="far fa-envelope-open margin-icon"></i>
        <a href="mailto:respetoriocuarto@gmail.com">respetoriocuarto@gmail.com</a>

        <i class="fas fa-phone margin-icon"></i>
        <span>(0358) 4671223 Lun - Vier, 8:00-13:00 - 16:00-20:00</span>
    </div>

    <!-- Social links -->
    <div class="col social text-right">
      <ul>
        <li>
          <a href="https://www.instagram.com/respetoriocuarto/" target="_blank">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
        </li>

        <li>
          <a href="https://www.facebook.com/RespetoRioCuarto/" target="_blank">
            <i class="fab fa-facebook-square fa-lg margin-icon"></i>
          </a>
        </li>

        <li>
          <a href="https://twitter.com/SomosRespeto" target="_blank">
            <i class="fab fa-twitter fa-lg margin-icon"></i>
          </a>
        </li>
      </ul>
    </div><!--/social -->

  </div><!--/row -->
</div><!--/container-fluid contact -->

<!-- Main NavBar -->
<!-- =========== -->
<nav class="navbar navbar-expand-lg main_navbar justify-content-between">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand" href="{{ site.baseurl }}/index.html">
      <img src="{{ site.baseurl }}/img/logos/respeto.png" width="120" height="30" alt="">
    </a>

    <!-- Colapsed button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-label="Toggle navigation"
            aria-controls="navbarSupportedContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" href="{{ site.baseurl }}/nosotros">¿Quienes Somos?</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Espacios Institucionales
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ site.baseurl }}/espacios_institucionales/concejo_deliberante">Concejo Deliberante</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/espacios_institucionales/tibunal_de_cuentas">Tribunal de cuentas</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/espacios_institucionales/otros">Otros</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}/proyectos" id="navbarDropdown"
             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Proyectos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ site.baseurl }}/#">EnRedar</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/#">Entreayudarnos</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/#">Los Horneros</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/#">Invernadero “Granja la libertad”</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/proyecctos">CDC</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/trabajos_comunitarios">Trabajos Comunitarios</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/ojo_de_barro">Ojo de Barro</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}/noticias" id="navbarDropdown"
             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Noticias
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ site.baseurl }}/noticias">Novedades</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/noticias/repercusiones">Repercusiones</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/colaborar">Colaborar</a>
        </li>

      </ul>
    </div><!--/collapse navbar-collapse -->

  </div><!--/container-fluid -->
</nav><!--/navbar -->
