/**************************************************************
  General
**************************************************************/
body {
    background-color: #e1e8ed;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
}


/* Add class="video" to video embeds */
.video {
    width: 100%;
    height: 360px;
    @include media-query($on-palm) {
        height: 250px;
    }
}

pre,
code {
    font-size: 15px;
    border: 1px solid $brand-color;
    border-radius: 3px;
    background-color: transparent;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
/**************************************************************
  Header
**************************************************************/
#header {

}

.header-image {
    height: 650px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
}

.header-image-banner {
    height: 400px;
    width: 100%;
    background-attachment: fixed;
}

.header-title {
    text-align: left;
    padding-left: 50%;
    padding-top: 130px;
}
/**************************************************************
  Main navbar
**************************************************************/
.main-navbar {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    display: block;
    float: left;
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    z-index: 9999;
}

.main-navbar > div {
    position: relative;
    width: 60%;
    margin: 0 auto;
    display: block;
}

.main-navbar .logo {
    margin: 20px 0 20px 30px;
    float: left;
}

.main-navbar .logo a {
    display: block;
    width: 120px;
    height: 30px;
    background-image: url(../img/logos/respeto.png);
    background-size: cover;
}

.main-navbar .menu {
    display: block;
    height: 30px;
    float: left;
    margin: 20px 0px 20px 0;
}

.main-navbar .menu li {
    float: left;
    margin-right: 15px;
}

.main-navbar .menu li a {
    display: block;
    font-size: 14px;
    line-height: 32px;
}

.link {
    float: left;
    margin: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.link a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
}

.link a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(123, 123, 123, 0.36);
    color: #fff;
}

.link .dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    min-width: 135px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown-content a {
    color: #eee;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: #111;
  color: #fff
}

.dropdown:hover .dropdown-content {
    display: block;
}
/**************************************************************
  Main header
  url: /web
**************************************************************/
.header {
    background: #37c376;
    background-repeat: repeat;
    background-position: center center;
    min-height: 220px;
    position: relative;
    @include media-query($on-palm) {
        min-height: 150px;
      }
 }

/* Main title */
.headline {
    text-align: center;
    font-weight: 600;
    font-size: 120px;
    height: 100px;
    line-height: 200px;
    color: #fefefe;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0, 0, 0, 0.34);
    @include media-query($on-palm) {
      font-size: 65px;
        line-height: 150px;
      }
}

.main-header {
    background-image: linear-gradient(120deg, #6d4e8a, #ec3237);
}

.main-header img {
    float: left;
    width: 100%;
    margin-right: 0%;
    margin-bottom: 0.5em;
}

.bg {
    box-shadow: 0 0 4px #ddd;
    background: #6d4e8a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6d4e8a, #ec3237); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #6d4e8a, #ec3237); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/**************************************************************
  Navigation bar
**************************************************************/
/*
.nav-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

.link {
    float: left;
    margin: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.link a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
}

.link a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(123, 123, 123, 0.36);
    color: #fff;
}

.link .dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 135px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown-content a {
    color: #eee;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: #111;
  color: #fff
}

.dropdown:hover .dropdown-content {
    display: block;
}

/**************************************************************
  News blocks
  url: /web
**************************************************************/
.news-piece {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.news-piece img {
    transition: all 0.5s ease 0s;
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.news-piece img:hover {
    transform: scale(1.15);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.news-piece-1 {
    height: 350px;
}

.news-piece-2 {
   height: 265px;
}

.news-title {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 2px 10px;
    font-weight: 600;
}

.news-exp {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    line-height: 1.6;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 2px 10px;
}

.news-piece:hover .news-exp {
    display: block;
}

.news {
  //padding-bottom: 25px;
}

.news h3 {
  padding-top: 50px;
}

.news-meta-date {
  color: #212121;
  font-family: Lato;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.24s ease-in-out 0s;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}

#archive .news-piece {
  webkit-box-shadow: 0 16px 38px 5px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 16px 38px 5px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 38px 5px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  margin-top: 70px;
}

.i-space {
  padding-left: 25px;
}
/**************************************************************
  Quote
  url /web
**************************************************************/
.quote {
    height: 200px;
    text-align: center;
    vertical-align:middle;
    @include media-query($on-palm) {
        padding: 0 10px;
    }
}

.quote-day {
    quotes : "\"" "\"" "'" "'";
    font-family: $base-font-family;
    font-size: 230%;
    margin: 50px auto 0 auto;
    @include media-query($on-palm) {
            font-size: 130%;
    }
    &:before {
      content: open-quote;

    }
    &:after{
        content: close-quote;

    }
}

.quote-by {
    text-align: right;
}
/**************************************************************
  Pagination
  url: /web/noticias
**************************************************************/
.pagination {
    text-align: center;
    display: block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.page-numbers {
    display: inline-block;
    padding: 5px 15px;
    color: #FFF;
    background: #343434 none repeat scroll 0% 0%;
}

.page-current {
    background: #0193e0;
}


/**************************************************************
  Post
  url /web/2016-2017
**************************************************************/
.post-title {
    max-width: 80%;
    text-align: center;
    margin: auto;
    clear: both;
}

.post-title h2 {
    color: #ec3237;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 50px;
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
}

.post-title h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #6d4e8a;
    width: 100px;
    height: 5px;
}

.post-metadata {
    color: #212121;
    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.24s ease-in-out 0s;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-content {
    max-width: 700px;
    margin: auto;
    clear: both;
}

.post-content p:first-child {
    font-size: 23px;
    line-height: 32px;
    font-weight: bold;
}
/**************************************************************
  Adjust columns
**************************************************************/
@media (min-width: 550px) {
  .eight.columns.news-piece{
      width: 66.66666%;
  }

  .four.columns.news-piece {
      margin-left: 0;
      width: 33.33333%;
  }
}

.first-row {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}

.row-border {
    border-bottom: 2px solid transparent;
}

.border {
    border-right: 2px solid transparent;
    @include media-query($on-palm) {
        border-right: none;
    }
}
.four.border {
    border-right: 2px solid transparent;
    @include media-query($on-palm) {
        border-right: none;
    }
}
.border-2 {
    border-right: 2px solid transparent;
    @include media-query($on-palm) {
        border-right: none;
    }
}
.six.columns {
    width: 50%;
    @include media-query($on-palm) {
        width: 100%;
    }
}
/**************************************************************
  Footer
**************************************************************/
footer {
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    background-color: #3d4045;
    min-height: 250px;
    padding-top: 30px;
    margin-top: 30px;
}

.footerNav {
    padding-bottom: 30px;
}

.footerNav .logo {
    margin: 20px 0 20px 30px;
    float: left;
}

.footerNav .logo a {
    display: block;
    width: 260px;
    height: 70px;
    background-image: url(../img/logos/respeto.png);
    background-size: cover;
}

.footerNav h4 {
    color: #00a69d;
    font-size: 14px;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 4px;
    padding-top: 20px;
}

.footerNav ul {
    margin: 5px 0;
}

.footerNav ul li {
    display: block;
    margin-bottom: 4px;
}

.footerNav ul li a {
    text-decoration: none;
    color: #fff;
}

.licence {
    background-color: #000;
    font-size: 14px;
    color: #808080;
    padding-top: 20px;
    padding-bottom: 20px;
}
