<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <header id="header">
      {% include nav-page.html %}

      <!-- Banner -->
      <div class="header-image-banner">
        <div class="header-title">
          <!--
          <h1>Respeto</h1>
          <h2>Nueva Cultura Politica</h2>
        -->

        <!-- Radio en vivo link -->
        <div class="radio-en-linea">
          <img src="/img/logos/endirecto.gif" onclick="window.open('/popup/radio.html', '_blank', 'location=yes,height=200,width=400,scrollbars=yes,status=yes');" />
        </div>

        </div><!--/header-title -->
      </div><!--/header-image -->
    </header>

    <div class="container-fluid bg">
      {{ content }}
    </div><!--/container bg -->

    {% include footer.html %}
    </body>
</html>
