<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <header id="header">
      {% include nav-page.html %}

      <!-- Banner -->
      <div class="header-image-banner"
           style="background-image: url({{ site.baseurl }}/img/logos/estrella.jpg)">
        <div class="header-title">
          <h1>Respeto</h1>
          <h2>Nueva Cultura Politica</h2>
        </div><!--/header-title -->
      </div><!--/header-image -->
    </header>

    <div class="container-fluid bg">
      {{ content }}
    </div><!--/container bg -->

    {% include footer.html %}
    </body>
</html>
